<ng-container *ngIf="users; else loading">
  <ng-container *ngIf="users.length > 0; else noUsers">
    <ul>
      <li class="users" *ngFor="let user of users; trackBy: trackByUserId">
        <app-user-card [user]="user"></app-user-card>
      </li>
    </ul>
  </ng-container>
  <ng-template #noUsers>
    <div class="not-found">
      <img src="assets/NotFound.png" />
    </div>
  </ng-template>
</ng-container>
<ng-template #loading>
  <app-loading-spinner class="loading"></app-loading-spinner>
</ng-template>
